
	<h2 class="form__title">Login</h2>
	<form action="" class="form" [formGroup]="loginForm" (ngSubmit)="sendForm()">
	<div class="row">
		  <div class="col-12">
			<mat-form-field class="w-full">
				<mat-label>Email</mat-label>
				<input matInput placeholder="Ex. Pizza" placeholder="Jhon228" formControlName="email">
			  </mat-form-field>
		  </div>

			<div class="col-12">
				<mat-form-field class="w-full">
					<mat-label>Password</mat-label>
					<input matInput placeholder="Ex. Pizza" placeholder="********" formControlName="password">
				</mat-form-field>
			</div>
	</div>

	<div class="form__btn-box">
		<button class="button" type="submit">Send</button>
	</div>

	<hr class="mt-4 text-white">

	<div class="form__back">

		<a [routerLink]="'/auth/register'">
			<p> if you don't have an account, please register</p>
			<mat-icon>arrow_right_alt</mat-icon>
		</a>
	</div>
</form>

