<form 
	class="example-form" 
	[formGroup]="formRegister" 
	(ngSubmit)="sendForm()"
	>
	<mat-form-field class="example-full-width">
	  <mat-label>Login</mat-label>
	  <input 
	  	matInput placeholder="Ex. Pizza"
		formControlName="email"
		value="Sushi">
	</mat-form-field>
	
	<mat-form-field class="example-full-width">
		<mat-label>Password</mat-label>
		<input 
		matInput placeholder="Ex. Pizza"
		value="Sushi"
		formControlName="password"
		>
	  </mat-form-field>
	  <mat-form-field class="example-full-width">
		<mat-label>Name</mat-label>
		<input 
		matInput placeholder="Ex. Pizza"
		value="Sushi"
		formControlName="name"
		>
	  </mat-form-field>
	  <mat-form-field class="example-full-width">
		  <mat-label>Password</mat-label>
		  <input 
		   	matInput placeholder="Ex. Pizza" value="Sushi">
		</mat-form-field>
		<button type="submit">submit</button>
  </form>
